body {
    margin: 0;
    background-color: #231F20;
    color: #fff;
    font-family: 'Funnel Sans', sans-serif;
}

.display {
    text-align: center;
    margin: 2em 0;
}

.display h1 {
    font-weight: 700;
    font-family: 'Funnel Display', sans-serif;
    font-size: 42pt;
    line-height: 100%;
    margin: 0;
}

.display p {
    margin: 0;
    opacity: 0.6;
    font-size: 12pt;
}

#downloads {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#downloads a {
    color: #FFD630;
    text-decoration: none;
    border: 1px solid;
    border-radius: 4px;
    padding: 8px 12px;
    transition-duration: 300ms;
}

#downloads a:hover {
    background-color: #FFD630;
    color: #231F20;
}

#li {
    display: flex;
    gap: 8px;
}

#downloads a.disabled {
    opacity: 0.4;
    filter: saturate(0.5);
    cursor: not-allowed;
    
}

#downloads h2 {
    margin: 12px 0;
}