body {
    margin: 0;
    background-color: black;
    color: white;

    font-family: "Funnel Sans", sans-serif;
    cursor: default;

}

.link {
  display: inline-flex;
  align-items: center;
  color: hsl(261, 100%, 70%);
  border-bottom: 1.5px transparent solid;
  transition: border-color 50ms ease-out, filter 50ms ease-out, color 50ms ease-out;
  font-weight: 400;
  line-height: 0.95;
}

.link:hover {
    border-bottom-color: hsl(261, 100%, 70%);
    text-decoration: none;
    filter: brightness(1.1);
}

.link::after {
  content: "";
  display: inline-block;
  translate: 0 1px;
  width: 14px;
  height: 14px;
  background-image: url('icons/arrow.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#app_container {
    margin: 1em auto;
    max-width: 512px;
    display: flex;
    gap: 1em;
}

#app_container > * {
    flex: 1;
}

#isod-container {
    position: relative;
    margin-bottom: 1em;
    overflow: hidden;
    z-index: 0;
}

#isod {
    padding: 3em 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: hsl(48, 100%, 90%);
    border: 2px solid #FFD630;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, transform 0.3s;
    box-sizing: border-box;
}

#isod:hover {
    /* background-color: white; */
    border-color: white;
    color: white;
    text-decoration: none;
}

#isod > span {
    position: relative;
    z-index: 10;
    background-color: #231F20;
    padding: 1em 1.6em;
    border-radius: 4px;
    transition: transform 0.1s ease-out;
    will-change: transform;
    pointer-events: none;
}

.isod-shadow {
    position: absolute;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    font-weight: 600;
    z-index: 5;
    pointer-events: none;
    padding: 1em 1.6em;
    background-color: hsla(345, 6%, 13%, 0.500);
    color: hsla(48, 100%, 90%, 0.5);
    border-radius: 4px;
    animation: fadeOut 1s forwards linear;
}

@keyframes fadeOut {
    from { 
        opacity: 0.6;
    }
    to { 
        opacity: 0; 
        transform: translate(calc(-50% + var(--tx)), calc(-50% + var(--ty))) scale(1.4); 
    }
}

#limbo {
    padding: 3em 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(142, 81, 255);
    color: hsl(261, 100%, 90%);
    border: 2px solid rgb(142, 81, 255);
    font-weight: 600;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s, letter-spacing 0.3s;
    box-sizing: border-box;
}

#limbo:hover {
    background-color: white;
    border-color: white;
    color: white;
    letter-spacing: 0.5px;
}

#main {
    max-width: 512px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#grid {
    position: fixed;
    width: 100vw;
    height: 100svh;
    background-color: #111;
    z-index: -1;
}

h1 {
    margin: 0;
    text-align: center;
    font-weight: 500;
    font-family: "Funnel Display", sans-serif;
}

@keyframes wave {
    from { background-position: 0 center; }
    to { background-position: 40px center; }
}

.separator {
    width: 100%;
    height: 40px;
    background-image: url("pattern.svg");
    background-size: 40px;
    background-position: center;
    animation: wave 1s linear infinite;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
}

.sub {
    opacity: 0.6;
    font-size: 12pt;
    font-weight: 400;
    text-align: center;
    text-wrap: balance;
    margin: .5em;
}

.splash-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shuffle_button {
    position: absolute;
    right: -10px;
    background: transparent;
    border: none;
    color: inherit;
    opacity: 0.2;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.2s;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#shuffle_button img {
    width: 16px;
    height: 16px;
}

#shuffle_button:hover {
    opacity: 1;
}

#shuffle_button:active {
    transform: translateX(2px);
}

#info {
    font-family: "JetBrains Mono", monospace;
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1em;
    margin: 1em 0;
}

#info > div, #info > a {
    padding: .4em;
    border: 2px #ffffff50 solid;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    gap: .3em;
    color: white;
    min-width: 0;
}

#info > #spotify_link {
    flex-grow: 2;
}

#spotify_cover {
    height: 1.4em;
}

#spotify_value {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    text-decoration: none;
    color: white;
} 

a[href*="."]:hover {
    text-decoration: underline;
}

#content {
    column-gap: 1em;
    margin-top: .5em;
    width: 100%;
}

@media only screen and (min-width: 600px) {
    #content {
        column-count: 2;
    }
}

@media only screen and (max-width: 600px) {
    #mizu {
        display: none !important;
    }
    #main, #app_container {
        width: 90%;
    }

    #info {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "spotify spotify"
            "weather time";
        gap: 0.5em;
    }

    #spotify_link { grid-area: spotify; }
    #weather { grid-area: weather; }
    #time { grid-area: time; }
}

@media only screen and (max-width: 750px) {
    #me {
        display: none !important;
    }
}

#content > div {
    break-inside: avoid;
    margin-bottom: 1em;
    line-height: 1.4;
}

h2, h3 {
    font-family: "Funnel Display", sans-serif;
    margin: .2em 0;
}

h3 {
    font-weight: 500;
}

.border {
    padding: .4em;
    border: 2px #ffffff50 solid;
    border-radius: 4px;
}

.t2 { translate: 0 2px; }
.t4 { translate: 0 4px; }

#gamerow {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .4em;
    justify-items: center;
}

#gamerow > * {
    border-radius: 4px;
}

#spotify_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    gap: .5em 1em;
    margin-top: .5em;
}

#spotify_list > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5em;
}

#spotify_list > a > img {
    height: 2em;
    border-radius: 4px;
}

#pride {
    display: flex;
    gap: 4px;
    align-items: center;
}

#pride > img {
    height: 1.3em;
    border-radius: 4px;
    background-color: #ffffff20;
    border: 2px #ffffff50 solid;
}

#pride > .sep {
    margin-left: auto;
}

@keyframes ping {
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}

.status-dot {
    display: inline-block;
    width: .5em;
    height: .5em;
    background-color: #ef4444;
    border-radius: 50%;
    transform: translateY(-1.2px);
    position: relative;
}

.status-dot::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
    animation: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
    z-index: -1;
}

#likes > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: square;
    gap: .5em;
    list-style-position: inside;
    margin: .5em 0 0 0;
    padding: 0;
    line-height: 1;
    justify-content: center;
}

#likes > ul > li:first-child {
    list-style-type: none;
}

#hrt {
    display: flex;
    background-color: #b45309;
    color: #fde68a;
    
    border: 2px solid transparent;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3cstyle%3e@keyframes a{to{stroke-dashoffset:-11}}rect{animation:a 1s linear infinite}%3c/style%3e%3crect width='100%25' height='100%25' rx='4' ry='4' fill='none' stroke='%23fde68a' stroke-width='4' stroke-dasharray='6,6' stroke-dashoffset='1'/%3e%3c/svg%3e");
    background-origin: border-box;

    padding: .5em;
    font-weight: 900;
    font-family: "JetBrains Mono", monospace;
    border-radius: 4px;
    justify-content: space-around;
}

#socials {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: .4em;
    justify-items: center;
    align-items: center;
    text-align: center;
}

#socials > a > img {
    height: 1.5em;
}

#socials > a {
    height: 2em;
    width: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: transform 0.2s, filter 0.2s;
}

#socials > a:hover {
    transform: translateY(1px);
    filter: brightness(1.4);
}

#steam {
    background-color: #000000;
}

#discord {
    background-color: #5865F2;
}

#instagram {
    background: linear-gradient(-15deg, #f9ce34, #ee2a7b, #6228d7);
}

#spotify {
    background-color: #1ED760;
}

#github {
    background-color: #181717;
}

#twitter {
    background-color: #1d9bf0;
}

#twitter > img {
    scale: 0.8;
}

#mizu > img {
    border-radius: 2px;
    display: block;
    aspect-ratio: 5/3;
    width: 100%;
}

#me {
    position: absolute;
    translate: -100% 0;
    margin-left: -1em;
    border: 2px solid #444;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

#me > img {
    border-radius: 2px 2px 0 0;
}

#me > span {
    background-color: #222;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 0 0 2px 2px;
}

#me_shuffle {
    position: absolute;
    top: 4px;
    right: 4px;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px;
    display: flex;
    opacity: 0;
    transition: opacity 0.2s;
}

#me:hover #me_shuffle {
    opacity: 1;
}

#me_shuffle img {
    width: 12px;
    height: 12px;
}

#limbo:hover {
    text-decoration: none;
}

#music {
    text-align: end;
}

#likes h3 {
    text-align: center;
}

#limbo > span {
    position: relative;
    z-index: 10;
    background-color: black;
    padding: 1em 1.6em;
    border-radius: 4px;
}

.hover-char {
    position: relative;
    transition: color 0.15s ease-out;
}